/** GENERAL STYLING **/
body {
  background: #ceced6;
}

.back-btn {
  color: #042c3d;
}

.back-btn:hover {
  color: #35562d;
}

.input-field {
  background-color: blue;
}

.hide {
  display: none;
}

.active {
  color: #fff !important;
}

/** Route Grade Styling **/

.v0,
.v1,
.v2,
.v3,
.v4,
.v5,
.v6,
.v7,
.special {
  font-size: 3rem;
  padding-bottom: 2px;
}

.v0 {
  color: #f9a11a;
}

.v1 {
  color: #f2ea24;
}

.v2 {
  color: #3e5caa;
}

.v3 {
  color: #73bf43;
}

.v4 {
  color: #8c1927;
}

.v5 {
  color: #bf4a9b;
}

.v6 {
  color: #eeeee3;
}

.v7 {
  color: #151514;
}

.special {
  color: #a3cdee;
}

/** NAVAR STYLING **/

.hamburger-icon {
  color: #fff;
}

.navbar {
  background: #1e1e1e;
  color: #fff;
  border-bottom: 3px solid #6fbf60;
}

.nav-link {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

.nav-item a:hover {
  color: #6fbf60 !important;
}

/** BANNER STYLING **/
.banner {
  height: 100%;
  position: relative;
  background-image: url("https://images.pexels.com/photos/9606/people-woman-sport-muscles.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: none;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#homepage-body {
  margin-top: 50px;
}

/* SIGNUP FORM STYLING  */

.signup-btn {
  background-color: #086aa0;
  color: #e8e9ea;
}

.signup-hr {
  background-color: #e8e9ea;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-form-label {
  color: #e8e9ea;
  font-weight: bold;
}

.sign-up-btn {
  color: #e8e9ea;
  background-color: #065184;
}

/*
  TRACKER PAGE STYLING
*/

.attempt-plus,
.attempt-minus {
  cursor: pointer;
}

.attempt-plus-complete,
.attempt-minus-complete {
  color: #777777;
}

.attempt-plus {
  color: #6fbf60;
}

.attempt-minus {
  color: #bc0808;
  margin-top: 1px;
}

/** RULES PAGE STYLING **/

#rules h1 {
  position: relative;
  text-align: center;
  color: #6fbf60;
  font-weight: bold;
  font-size: 3.4rem;
  top: 186px;
  z-index: 3;
}

#rules p {
  font-size: 1.4rem;
}

#rules h2 {
  color: #6fbf60;
}

#rules ul {
  margin-top: 30px;
}

#rules li {
  font-size: 1.3rem;
}

#rules .card {
  position: relative;
  z-index: 1;
  padding-top: 200px;
  top: -100px;
}

#rules-header {
  position: relative;
  margin-top: 40px;
  width: 100%;
  z-index: 2;
}

.rules-box1 {
  position: relative;
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: auto;
  height: 14rem;
  width: 14rem;
  background: rgba(58, 27, 233, 0.568);
}

.rules-box2 {
  position: relative;
  transform: rotate(33deg);
  margin-top: -225px;
  margin-left: auto;
  margin-right: auto;
  height: 14rem;
  width: 14rem;
  background: rgba(219, 0, 0, 0.712);
}

.rules-xp-grade {
  font-size: 2rem;
  font-weight: bold;
  color: #6fbf60;
}

.rules-xp-list {
  list-style-type: none;
}

.arrow-right {
  margin-left: 10px;
  margin-right: 10px;
}

/** FONT-AWESOME STYLING **/
.first {
  color: gold;
}

.second {
  color: silver;
}

.third {
  color: brown;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

/** EDIT PROFILE STYLING **/
#left-profile-col {
  background: #1e1e1e;
  color: green;
  padding: 30px;
  border-radius: 10%;
}

/* CARD LAYOUT */

.card {
  color: #ebeced;
  background-color: #4b4b4b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-footer {
  background-color: #1e1e1e;
  padding: 10px 10px;
}

.card-header {
  background-color: #1e1e1e;
  border-bottom: 1px solid #6fbf60;
  color: #e8e9ea;
  padding: 5px 10px;
}

.comments {
  color: #e8e9ea;
}

.have-climbed {
  color: #6fbf60;
}

.fa-comments {
  color: #15a0ed;
}

.test:hover {
  color: #83db71;
}

.test {
  text-decoration: none;
}

/* BUTTONS STYLING */
.btn-edit {
  color: #e8e9ea;
  background-color: #06591e;
}

.btn-delete {
  color: #e8e9ea;
  background-color: #5b1a04;
  margin-top: 2px;
}

.btn-completed {
  color: #e8e9ea;
  background-color: #065184;
}

.btn-not-completed {
  color: #e8e9ea;
  background-color: #5b1a04;
}

/* LEADERBOARD STYLING */
.leaderboard {
  background-color: #efefef;
}

.leaderboard-names {
  color: #065184;
}

.leaderboard-badge {
  background-color: #096b22;
  margin-left: 10px;
}

.leaderboard-btn {
  background-color: #086aa0;
  color: #e8e9ea;
}

.leaderboard-btn:hover {
  color: #e8e9ea;
}

/* USER PROFILE STYLING */
.profile-card {
  background-color: #1e1e1e;
}

.profile-hr {
  background-color: #6fbf60;
  width: 40%;
}

.profile-list {
  background-color: #efefef;
  color: #065184;
}

/* ROUTE PROFILE TRACKER STYLING */
.route-tracker-grade {
  font-size: 2rem;
  color: #6fbf60;
  font-weight: bold;
}

.route-tracker-amount {
  color: #e2e2e2;
  font-size: 1.3rem;
}

.route-tracker-styling {
  background: #021f42;
  border-color: #fff !important;
}

/* COMMENTS STYLING */
.comment-text {
  color: #191919;
}

/* PICTURE UPLOAD STYLING */
.picture-upload-text {
  color: #e8e9ea;
  text-transform: uppercase;
}

.upload-image {
  color: #e8e9ea;
}

/* ACHIEVEMENT STYLING */
.achievement-icon {
  height: 80px;
  width: 80px;
}

.achievement-name {
  font-size: 1rem;
  color: #558e49;
  font-weight: bold;
}

.achievement-details {
  padding-top: 4px;
  font-size: 0.7rem;
}

.achievement-date {
  position: absolute;
  padding-bottom: 5px;
  right: 0;
  bottom: 0;
  font-style: italic;
  margin-right: 10px;
  font-size: 0.8rem;
}

.achievement-text-container {
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
}

.achievement-xp {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 15px;
  padding-top: 10px;
  color: #6fbf60;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
  .profile-left {
    margin-bottom: 30px;
  }

  .profile-right {
    margin-bottom: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* USER PROFILE STYLING */
  .profile-right {
    margin-top: 37px;
    margin-bottom: 100px;
  }

  .profile-left {
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .profile-right {
    margin-bottom: 0;
  }

  /* HOMEPAGE BANNER STYLING */
  .banner-form-margin {
    margin-top: 100px;
  }

  .banner-text-margin {
    margin-top: 30px;
  }

  /* ACHIVEMENT STYLING */
  .achievement-icon {
    height: 120px;
    width: 120px;
  }

  .achievement-name {
    font-size: 1.5rem;
  }

  .achievement-details {
    font-size: 1rem;
  }

  .achievement-date {
    font-size: 1rem;
  }

  .achievement-text-container {
    padding: 15px;
  }
}
